.todo_list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.button {
  height: 40px;
  width: 200px;
  text-align: center;
  color: white;
  background-color: black;
}
.todo_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
